/* Global */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #404040;
  font-size: 1.6rem;
  line-height: 1.4;
}

.section { 
  width: 100%;
  padding: 9.54rem 2rem;
}

.container {
  max-width: 100rem;
}

.buttons {
  width: fit-content;
  font-size: 2.4rem;
  font-weight: 700;
  border-radius: 30px;
  border-right: 4px solid #993c38;
  border-bottom: 4px solid #993c38;
  padding: 0.4rem 4.5rem;
  text-align: center;
  color: white;
}

.buttons:hover {
  color: #993c38;
  background-image: none; 
  background-color: white;
  border-right: 4px solid white;
  border-bottom: 4px solid white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.37);
}

.flex-center {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 4.2rem;
}

h2 {
  font-size: 2.76rem;
  line-height: 1.1;
  font-weight: 400;
}

h3 {
  font-size: 2.3rem;
  line-height: 1.2;
}

.titulo-inclinado {
  color: white;
  border-radius: 1rem;
  padding: 0.7rem 1.6rem;
  width: fit-content;
  transform: rotate(-3deg) translateY(-10px);
  box-shadow: 0 0.21rem 0.4rem rgba(0, 0, 0, 0.1);
}

p {
  color: #404040;
  font-size: 1.8rem;
  line-height: 1.4;
  text-align: justify;
}

strong {
  font-weight: 600;
}

.realce-semibold {
  font-weight: 600;
}

/* Cabeçalho */

header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: white;
  padding: 1.5rem 2vw;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.144);
  z-index: 999;
}  

.header__nav--list {
  display: flex;
  gap: 2.4rem;
}

.header__nav--item-list a {
  color: #112e61;
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
}

.header__nav--item-list a:hover {
  color: #f60;
}

.header__nav--item-list.item-list--children::after {
  content: "\2BC6";
}

/* Seção Hero */
.section.section__hero {
  display: flex;
  justify-content: center;
  gap: 5rem;
  padding-top: 130px;
  padding-bottom: 100px;
  background-image: url(../images/background_hero.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

.container-hero {
  max-width: 500px;
  flex-direction: column;
  gap: 2rem;
}

.container__buttons-hero {
  display: flex;
  flex-direction: column;  
  justify-content: start;
  gap: 2rem;
  margin-top: 2rem;
}

.hero-button {
  background-image: linear-gradient(180deg, #ff645e, #ff9253);
}

.iframe-video {
  width: 42rem;
  border-radius: 2.5rem;
  aspect-ratio: 16/9;
}

/* Seção Conteúdos Gratuitos */
.section__conteudos-gratuitos {
  background-image: url(../images/background_conteudosGratuitos.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.img-conteudos {
  width: 44rem;
  height: 22rem;
  margin: 17% auto 0;
}

.container__conteudo-titulo {
  display: flex;
  align-items: center;
  gap: 1.7rem;
}

.conteudo-seta {
  width: 30px;
}

.gratuito-h2 {
  font-size: 35px;
  line-height: 42px;
}

.gratuito-h2-highlight {
  color: #7a40be;
  font-weight: 600;
}

.conteudo-icons {
  width: 50px;
  border-radius: 100%;
  padding: 1rem;
  margin-top: -1.3rem;
  overflow: visible;
  background-color: #e7e7e7;
  box-shadow: inset 0 0 3px 2px rgba(0,0,0,.1)
}

.titulo-inclinado.gratuito-h3 {
  font-weight: 700;
  background-image: linear-gradient(90deg, #aa56e6, #6d42b9);
}

.container__listas-conteudo {
  display: flex;
  justify-content: center;
  gap: 1.7rem;
  margin-top: 40px;
}

.container__listas-conteudo--lista {
  width: 50%;
  height: fit-content;
  padding: 0px 1rem 3rem;
  border-radius: 25px;
  box-shadow: inset 0 0 6px 2px rgba(0,0,0,.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__listas-conteudo--lista > ul {
  width: 100%;
  margin-top: 1rem;
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.gratuito-link-lista {
  color: black;
  font-size: 1.9rem;
}

.gratuito-link-lista > li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 0.3rem 3rem;
  border-radius: 5rem;
  background-color: #e7e7e7;
  box-shadow: inset 0 0 3px 2px rgba(0,0,0,.1);
}

.icon-social-media {
  width: 20px;
  height: 20px;
}

/* Seção Diferenciais */
.section__diferenciais {
  background-color: #f4f5f7;
}

.container__diferenciais {
  background-color: white;
  border-radius: 5rem;
  box-shadow: inset 0 0 0.8rem 0.3rem rgba(0,0,0,.15)
}

.container__diferenciais--titulo {
  background-image: linear-gradient(225deg, #196b9f, #1a82a7);
  padding: 4.88rem;
  border-radius: 4rem 4rem 0 0;
  display: flex;
}

.div__diferenciais--h2 {
  border-left: solid 0.5rem #ffb20f;
  padding: 0.52rem 0.52rem 2rem;
}

.diferenciais-h2 {
  color: white;
  font-size: 3.5rem;
  line-height: 4.2rem;
  padding-left: 2rem;
}

.diferenciais-p {
  font-size: 1.9rem;
  color: white;
  text-align: right;
}

.container__diferenciais--conteudo {
  padding: 4.88rem;
}

.div__diferencial-item {
  position: relative;
  border-radius: 2.5rem;
  background-color: white;
  box-shadow: 0 0 0.8rem 0.3rem rgba(0,0,0,0.15);
  padding: 3.12rem 2.5rem;
}

.div__diferencial-item--icon {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffaf00;
  border-radius: 1.5rem;
  width: 10rem;
  height: 10rem;
  padding: 1.6rem;
  box-shadow: 0 0 0.8rem 0.2rem rgba(0,0,0,0.1);
}

.div__diferencial-item--icon img {
  width: 100%;
}

.diferenciais-h3 {
  color: #005e88;
  font-weight: 600;
}

.diferenciais-h3-empresas {
  font-weight: 400;
}

.diferenciais-h3-empresas a {
  color: #005e88;
  font-weight: 700;
}

.div__logo-empresas > img {
  height: 5rem;
  filter: grayscale(100%);
}

.logo-loreal {
  opacity: 60%;
}

.logo-subsea, .logo-disney {
  opacity: 60%;
}


/* Seção Depoimentos*/
.section__depoimentos {
  background-image: url(../images/background_depoimentos.png);  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.container__depoimentos--title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.container__depoimentos--title > h2 {
  color: white;
}

.imagem-depoimento {
  aspect-ratio: 16/9;
  width: 30rem;
  object-fit: cover;
  border-radius: 2.5rem;
}

.container__depoimentos--carrossel{
  position: relative;
}

.carrossel-seta {
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.carrossel-seta--esquerda {
  left: 0;
  transform: translate(-150%, -60%);
}

.carrossel-seta--direita {
  right: 0;
  transform: translate(160%, -60%);
}

.carrossel-navegacao {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.carrossel-navegacao--item {
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background-color: #86a8bc;
  cursor: pointer;
}

.carrossel-navegacao--item.ativa {
  background-color: #14577f;
}

.depoimento-button {
  background-image: linear-gradient(180deg, #196c9f, #1a80a7);
  border-bottom-color: #14577f;
  border-right-color: #14577f;
  
}

/* Seção Na Midia */
.section__na-midia {
  padding-top: 3.9rem;
  padding-bottom: 3.9rem;
  background-image: url(../images/background_na-midia.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.container__na-midia--conteudo {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.div__na-midia--title {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.div__na-midia--logos {
  display: flex;
  gap: 2rem;
  align-items: center;
}
/* Seção Blog */
.section__blog {
  background-color: #f4f5f7;
}

.container__blog {
  background-color: #f9f9f9;
  box-shadow: inset 0 0 13px 2px rgba(0,0,0,.2);
  border-radius: 4rem;
  padding: 4.88rem;
  padding-top: 9rem;
  position: relative;
}

.titulo-inclinado.blog-h2 {
  font-size: 3.3rem;
  position: absolute;
  top: 0;
  left: 20%;
  background-image: linear-gradient(90deg,#feb914,#f6a50b);
  padding: 1.02rem 3.12rem;
}

.container__blog--conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2rem;
}

.blog-item {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #f9f9f9;
  box-shadow: inset 0 0 0.4rem 0.15rem rgba(0,0,0,.2);
  border-radius: 2.5rem;
  padding: 3rem;
}

.blog-item > a > img {
  width: 100%;
}

.blog-postadoem {
  font-size: 1.33rem;
  line-height: 1.5;
}

.blog-postadoem a {
  font-weight: 600;
  color: #f7a70c;
}

.blog-titulopost {
  color: #404040;
  font-size: 2.3rem;
  line-height: 1.2;
  font-weight: 600;
}

/* Seção Como ajudar */
.sub-section_comoajudar--questoes {
  padding: 7.63rem 2rem;
  background-image: url(../images/background__como-ajudar.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.container__questoes-conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.3rem;
}

.titulo-inclinado.comoajudar-h2 {
  position: static;
  transform: translate(0, 0);
  background-image: linear-gradient(90deg,#14a1d5,#1a8ad4);
}

.div__comoajudar-lista {
  max-width: 70rem;
  background-color: #f9f9f9;
  padding: 3rem 2.7rem;
  border-radius: 2rem;
  box-shadow: inset 0 0 0.4rem 0.15rem rgba(0,0,0,.2);
}

.div__comoajudar-lista > ul > li::before {
  content: url(..//images/check-list__comoAjudar.png);
  margin-right: 0.5rem;
}

.lista--como-ajudar a,
.como-ajudar-paragrafo a {
  color: #008ff7;
  font-weight: 600;
}

.como-ajudar-paragrafo b {
  font-weight: 600;
}

/* Rodapé */

.rodape-titulo {
  font-weight: 600;
  font-size: 2.2rem;
}

.rodape-subtitulo {
  font-size: 2.0rem;
  font-weight: 500;
}

.rodape-seg-subtitulo {
  font-weight: 500;
  font-size: 1.8rem;
}

.rodape-link {
  color: #1a77a4;
}