/* Global */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #404040;
  font-size: 1.6rem;
  line-height: 1.4;
  background-color: #f4f5f7;
}

.section {
  padding: 9.54rem 2rem;
}

.container {
  max-width: 100rem;
}

.buttons {
  width: fit-content;
  color: white;
  font-size: 2.4rem;
  font-weight: 700;
  text-align: center;
  border: 0;
  border-right: 4px solid #993c38;
  border-bottom: 4px solid #993c38;
  border-radius: 30px;
  padding: 0.4rem 4rem;
  cursor: pointer;
}

.buttons:hover {
  border: solid 0.2rem white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.37);
}

.flex-center {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 4.2rem;
}

h2 {
  font-size: 2.76rem;
  line-height: 1.1;
  font-weight: 400;
}

h3 {
  font-size: 2.3rem;
  line-height: 1.2;
}

.titulo-inclinado {
  color: white;
  border-radius: 1rem;
  padding: 0.7rem 1.6rem;
  width: fit-content;
  transform: rotate(-3deg) translateY(-10px);
  box-shadow: 0 0.21rem 0.4rem rgba(0, 0, 0, 0.1);
}

p, li {
  color: #404040;
  font-size: 1.8rem;
  line-height: 1.4;
  text-align: justify;
}

strong {
  font-weight: 600;
}

.realce-semibold {
  font-weight: 600;
}

.div__form-label-input {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.form-input {
  height: 4rem;
  font-family: inherit;
  font-size: inherit;
  background-color: white;
  border: 0;
  border-radius: 1rem;
  box-shadow: inset 0 0 5px 1px rgba(0,0,0,.3);
  padding: 1.02rem;
}

.form-input:focus {
  outline: none;
}

/* Cabeçalho */
header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.12rem;
  position: fixed;
  background-color: white;
  padding: 1.5rem 2vw;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.144);
  z-index: 999;
}  

.header__nav--list {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.header__nav--item-list a {
  color: #112e61;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
}

.header__nav--item-list a:hover {
  color: #f60;
}

.header__nav--item-list.item-list--arrow::after {
  content: "\2BC6";
}

.header__nav--item-list.item-list--arrow {
  position: relative;
}

.header__nav--item-list-children {
  display: none;
  width: max-content;
  flex-direction: column;
  align-items: start;
  gap: 0;
  position: absolute;
  right: 0;
  background-color: white;
  border-radius: 2rem;
  box-shadow: 0 0.21rem 0.4rem rgba(0, 0, 0, 0.15);
  padding: 0.41rem 0;
}

.header__nav--item-list-children > li {
  width: 100%;
  padding: 0.41rem 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
} 

.header__nav--item-list-children > li:last-child {
  border-bottom: none;
} 

.header__nav--item-list.item-list--arrow:hover .header__nav--item-list-children {
  display: flex;
}  

/* Seção Hero */
.section.section__hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding-top: 130px;
  padding-bottom: 100px;
  background-image: url(../images/background_hero.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

.container-hero {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.hero-paragrafo {
  font-size: 1.9rem;
  line-height: 1.3;
}

.container__buttons-hero {
  display: flex;
  flex-direction: column;  
  justify-content: start;
  gap: 1.6rem;
  margin-top: 2rem;
}

.buttons.hero-button {
  background-image: linear-gradient(180deg, #ff645e, #ff9253);
  width: 100%;
}

.buttons.hero-button:hover {
  color: #993c38;
  background-color: white;
  background-image: none; 
  border-color: white;
}

.iframe-video {
  width: 42rem;
  border-radius: 2.5rem;
  aspect-ratio: 16/9;
}

/* Seção Conteúdos Gratuitos */
.section__conteudos-gratuitos {
  background-image: url(../images/background_conteudosGratuitos.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.conteudos-img {
  width: 44rem;
  height: 22rem;
  margin: 17% auto 0;
}

.container__conteudo-titulo {
  display: flex;
  align-items: center;
  gap: 1.7rem;
}

.conteudos-seta {
  width: 30px;
}

.conteudos-h2 {
  font-size: 35px;
  line-height: 42px;
}

.conteudos-h2-highlight {
  color: #7a40be;
  font-weight: 600;
}

.conteudos-icons {
  width: 50px;
  border-radius: 100%;
  padding: 1rem;
  margin-top: -1.3rem;
  overflow: visible;
  background-color: #e7e7e7;
  box-shadow: inset 0 0 3px 2px rgba(0,0,0,.1)
}

.titulo-inclinado.conteudos-h3 {
  font-weight: 700;
  background-image: linear-gradient(90deg, #aa56e6, #6d42b9);
}

.container__listas-conteudo {
  display: flex;
  justify-content: center;
  gap: 1.7rem;
  margin-top: 40px;
}

.container__listas-conteudo--lista {
  width: 50%;
  height: fit-content;
  padding: 0px 1rem 3rem;
  border-radius: 25px;
  box-shadow: inset 0 0 6px 2px rgba(0,0,0,.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__listas-conteudo--lista > ul {
  width: 100%;
  margin-top: 1rem;
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.conteudos-link-lista{
  color: black;
  font-size: 1.9rem;
}

.conteudos-link-lista > li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 0.3rem 3rem;
  border-radius: 5rem;
  background-color: #e7e7e7;
  box-shadow: inset 0 0 3px 2px rgba(0,0,0,.1);
}

.icon-social-media {
  width: 20px;
  height: 20px;
}

/* Seção Diferenciais */
.container__diferenciais {
  background-color: #f9f9f9;
  border-radius: 5rem;
  box-shadow: inset 0 0 0.8rem 0.3rem rgba(0,0,0,.15)
}

.container__diferenciais--titulo {
  display: flex;
  gap: 1.88rem;
  background-image: linear-gradient(225deg, #196b9f, #1a82a7);
  padding: 4.88rem 4.88rem 8.88rem;
  border-radius: 4rem 4rem 0 0;
}

.div__diferenciais--h2 {
  flex: 1;
  border-left: solid 0.5rem #ffb20f;
  padding: 0.52rem 0.52rem 2rem;
}

.diferenciais-h2 {
  color: white;
  font-size: 3.5rem;
  line-height: 4.2rem;
  padding-left: 2rem;
}

.diferenciais-p {
  flex: 1;
  font-size: 1.9rem;
  color: white;
  text-align: right;
  padding-top: 0.52rem;
}

.container__diferenciais--conteudo {
  padding: 4.88rem 3.12rem;
  display: flex;
  flex-direction: column;
  gap: 4.88rem;
}

.div__diferenciais-colunas {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  margin-top: -110px;
}

.div__diferenciais-item {
  display: flex;
  flex-direction: column;
  gap: 1.28rem;
  align-items: center;
  flex: 1;
  text-align: center;
  position: relative;
  border-radius: 2rem;
  background-color: white;
  box-shadow: 0 0 0.8rem 0.3rem rgba(0,0,0,0.15);
  padding: 7.12rem 2.5rem 3.12rem;
}

.div__diferenciais-item p {
  text-align: center;
}

.div__diferenciais-item--icon {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffaf00;
  border-radius: 1.9rem;
  width: 10rem;
  height: 10rem;
  padding: 1.6rem;
  box-shadow: 0 0 0.8rem 0.2rem rgba(0,0,0,0.1);
}

.div__diferenciais-item--icon img {
  width: 100%;
}

.diferenciais-h3 {
  color: #005e88;
  font-weight: 600;
}

.div__diferenciais-empresas {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 3.12rem;
}

.diferenciais-h3-empresas {
  font-weight: 400;
  font-size: 3.2rem;
}

.diferenciais-h3-empresas a {
  color: #005e88;
  font-weight: 700;
}

.div__logo-empresas {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2.5rem;
  padding: 0 15%;
}

.div__logo-empresas > img {
  height: 3rem;
  filter: grayscale(100%);
}

.logo-loreal {
  opacity: 60%;
  height: 90rem;
}

.logo-subsea, .logo-disney {
  opacity: 60%;
}

/* Seção Depoimentos*/
.section__depoimentos {
  background-image: url(../images/background_depoimentos.png);  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.container__depoimentos {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 2.7rem;
}

.container__depoimentos--title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.7rem;
}

.container__depoimentos--title > h2 {
  color: white;
}


.container__depoimentos--carrossel{
  position: relative;
  display: flex;
  flex-flow: column;
  gap: 2.7rem;
}

.div__carrossel-imagens {
  display: flex;
  gap: 2rem;
}

.imagem-depoimento {
  aspect-ratio: 16/9;
  width: 30rem;
  object-fit: cover;
  border-radius: 2.5rem;
}

.carrossel-seta {
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.carrossel-seta--esquerda {
  left: 0;
  transform: translate(-150%, -60%);
}

.carrossel-seta--direita {
  right: 0;
  transform: translate(160%, -60%);
}

.carrossel-navegacao {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.carrossel-navegacao--item {
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background-color: #86a8bc;
  cursor: pointer;
}

.carrossel-navegacao--item.ativa {
  background-color: #14577f;
}

.buttons.depoimento-button {
  background-image: linear-gradient(180deg, #196c9f, #1a80a7);
  border-bottom-color: #14577f;
  border-right-color: #14577f;
}

.buttons.depoimento-button:hover {
  border-color: #196c9f;
}

/* Seção Na Midia */
.section__na-midia {
  padding-top: 3.9rem;
  padding-bottom: 3.9rem;
  background-image: url(../images/background_na-midia.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.container__na-midia--conteudo {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.div__na-midia--title {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.div__na-midia--logos {
  display: flex;
  gap: 2rem;
  align-items: center;
}

/* Seção Blog */
.container__blog {
  background-color: #f9f9f9;
  box-shadow: inset 0 0 13px 2px rgba(0,0,0,.2);
  border-radius: 4rem;
  padding: 4.88rem;
  padding-top: 9rem;
  position: relative;
}

.titulo-inclinado.blog-h2 {
  font-size: 3.3rem;
  position: absolute;
  top: 0;
  left: 20%;
  background-image: linear-gradient(90deg,#feb914,#f6a50b);
  padding: 1.02rem 3.12rem;
}

.container__blog--conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2rem;
  background-color: #fff;
}

.blog-item {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #f9f9f9;
  box-shadow: inset 0 0 0.4rem 0.15rem rgba(0,0,0,.2);
  border-radius: 2.5rem;
  padding: 3rem;
}

.blog-item > a > img {
  width: 100%;
}

.blog-postadoem {
  font-size: 1.33rem;
  line-height: 1.5;
}

.blog-postadoem a {
  font-weight: 600;
  color: #f7a70c;
}

.blog-titulopost {
  color: #404040;
  font-size: 2.3rem;
  line-height: 1.2;
  font-weight: 600;
}

/* Seção Como ajudar */
.sub-section_comoajudar--questoes {
  padding: 7.63rem 2rem;
  background-image: url(../images/background__como-ajudar.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.container__questoes-conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.3rem;
}

.titulo-inclinado.comoajudar-h2 {
  font-size: 3rem;
  position: static;
  transform: translate(0, 0);
  background-image: linear-gradient(90deg,#14a1d5,#1a8ad4);
}

.div__comoajudar-lista {
  max-width: 80rem;
  background-color: #f9f9f9;
  padding: 3rem 2.7rem;
  border-radius: 2rem;
  box-shadow: inset 0 0 0.4rem 0.15rem rgba(0,0,0,.2);
}

.div__comoajudar-lista > ul {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.div__comoajudar-lista > ul > li::before {
  content: url(..//images/check-list__comoAjudar.png);
  margin-right: 0.5rem;
}

.div__comoajudar-lista > ul > li > a:link, .div__comoajudar-lista > ul > li > a:visited, .como-ajudar-paragrafo > a:link, .como-ajudar-paragrafo > a:visited {
  color: #008ff7;
  font-weight: 600;
  text-decoration: underline;
}

.div__comoajudar-lista > ul > li > a:hover, .div__comoajudar-lista > ul > li > a:active, .como-ajudar-paragrafo > a:hover, .como-ajudar-paragrafo > a:active {
  color: #0056b3;
}

.section.sub-section_como-ajudar--respostas {
  padding: 6rem 0;
}

.container__resposta-conteudo {
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 2rem;
}

.como-ajudar-paragrafo b {
  font-weight: 600;
}

/* Seção minicurso */
.section__minicurso {
  background-image: linear-gradient(90deg, #9e4ad7, #753db6);
  color: white;
}

.container__minicurso {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.minicurso-h2 {
  font-size: 3.6rem;
}

.minicurso-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons.minicurso-button {
  font-size: 3rem;
  padding: 1rem 4rem;
  background-color: #ffba29;
  border-bottom-color: #664a10;
  border-right-color: #664a10;
}

.buttons.minicurso-button:hover {
  color: white;
  border-color: #ffba29;
}

/* Rodapé */
.footer-logo {
  width: 18rem;
}

.rodape-titulo, .rodape-subtitulo, .rodape-seg-subtitulo {
  font-weight: 600;
}

.rodape-subtitulo {
  font-size: 1.92rem;
  line-height: 1.3;
}

.rodape-link {
  color: #1a77a4;
}

.rodape-link--redessociais {
  color: transparent !important;
}

.footer svg {
  width: 2.5rem;
}

.footer svg:hover {
  fill: #f60;
  stroke: #f60;
}

.footer a {
  text-decoration: underline;
}

.footer a:hover {
  color: #f60;
}

.footer-form {
  max-width: 40%; /* alterar */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: inset 0 0 10px 2px rgba(0,0,0,.15);
  padding: 2.5rem;
}

.buttons.footer-form-button {
  padding: 1rem 3rem;
  background-color: #1a77a4;
  border-right-color: #0c374d;
  border-bottom-color: #0c374d;
}

.footer-form-button:hover {
  background-color: #1a77a4;
  color: white;
  border: solid 0.2rem #1a77a4;
}

/* fixado */
.logo-whatsapp {
  width: 8.5rem;
  position: fixed;
  bottom: 0.8rem;
  right: 1rem;
}

.logo-whatsapp:hover {
  transform: translate(0.5rem, 0.5rem);
  transition: 400ms;
}

.logo-whatsapp > img {
  width: 100%; /* largura máxima do container acima */
}

