/* Global */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #404040;
  font-size: 1.6rem;
  line-height: 1.4;
}

.section { 
  max-width: 1400px;
  display: flex;
  justify-content: center;
  padding: 60px 0;
}

.buttons {
  width: auto;
  font-size: 2.4rem;
  font-weight: 700;
  text-decoration: none;
  border-radius: 30px;
  border-right: 4px solid #993c38;
  border-bottom: 4px solid #993c38;
  padding: 5px 0px;
  text-align: center;
}

h1 {
  font-size: 3.5rem;
  font-weight: 600;
}

h2 {
  font-size: 3.5rem;
  font-weight: 400;
}

strong {
  font-weight: 600;
}

.realce-semibold {
  font-weight: 600;
}

/* Cabeçalho */

header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: white;
  padding: 1.28rem 2.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.144);
}

.header__nav--list {
  display: flex;
  list-style: none;
  gap: 2.4rem;
}

.header__nav--item-list a {
  color: #112e61;
  font-size: 1.4rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
}

.header__nav--item-list a:hover {
  color: #f60;
}

.header__nav--item-list.item-list--children::after {
  content: "\2BC6";
}

/* Seção Hero */
.section.section-hero {
  padding: 130px 0px 100px;
  background-image: url(../images/background_hero.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container-hero {
  max-width: 500px;
}

.hero-paragrafo {
  font-size: 1.9rem;
}

.container__buttons-hero {
  display: flex;
  flex-direction: column;  
  justify-content: start;
}

/* Seção Conteúdos Gratuitos */
/* 
.gratuito-h2 {
  font-weight: 400;
  font-size: 3.5rem;
} */

.gratuito-realce {
  color: #7a40be;
  font-weight: 600;
}

.gratuito-h3 {
  font-size: 2.3rem;
  font-weight: 700;
}

.gratuito-link-lista {
  font-size: 1.9rem;
  text-decoration: none;
}

/* Seção Diferenciais */

/* .diferenciais-h2 {
  font-size: 3.5rem;
  font-weight: 400;
} */

/* .diferenciais-h2 strong {
  font-weight: 600;
} */

.diferenciais-p {
  font-size: 1.9rem;
}

.diferenciais-h3 {
  color: #005e88;
  font-size: 2.4rem;
  font-weight: 600;
}

.diferenciais-h3-empresas {
  font-size: 3.5rem;
  font-weight: 400;
}

.diferenciais-h3-empresas a {
  color: #005e88;
  font-weight: 700;
  text-decoration: none;
}

/* Seção O que falam */

/* .oquefalam-realce {
  font-weight: 600;
} */

/* Seção Blog */

.blog-postadoem {
  font-size: 1.5rem;
}

.blog-postadoem a {
  font-weight: 600;
  color: #f7a70c;
  text-decoration: none;
}

.blog-titulopost {
  font-size: 2.4rem;
  font-weight: 600;
  text-decoration: none;
}

.blog-descricaopost {
  font-size: 1.7rem;
}

/* Seção Como ajudar */

/* .comoajudar-realce {
  font-weight: 600;
} */

.comoajudar-lista,
.comoajudar-paragrafo {
  font-size: 1.9rem;
}

.comoajudar-lista a,
.comoajudar-paragrafo a {
  color: #008ff7;
  font-weight: 600;
}

.comoajudar-paragrafo b {
  font-weight: 600;
}

/* Rodapé */

.rodape-titulo {
  font-weight: 600;
  font-size: 2.2rem;
}

.rodape-subtitulo {
  font-size: 2.0rem;
  font-weight: 500;
}

.rodape-seg-subtitulo {
  font-weight: 500;
  font-size: 1.8rem;
}

.rodape-link {
  color: #1a77a4;
}